<!--
  Generated template for the CorreoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="s-light">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-fab top right edge>
    <button ion-fab mini color="s-complementary" (click)="Inicio()"><ion-icon name="home" ></ion-icon></button>
  </ion-fab>

  <ion-segment [(ngModel)]="tipoCorreo" color="p-dark" (ionChange)="onSegmentChange($event._value)">
    <ion-segment-button value="1" >
      G Suite
    </ion-segment-button>
    <ion-segment-button value="2">
      Negocios
    </ion-segment-button>
    <ion-segment-button value="3">
      Empresarial
    </ion-segment-button>
  </ion-segment>


      <div [ngSwitch]="tipoCorreo">
        <div *ngSwitchCase="1">

          <div class="content" style="background:#14cba8;">
            <ion-card color="detalle1">
              <h1 style="text-align:center;">
              {{item.nombre}}
              </h1>
            </ion-card>
          </div>
          <ion-card><img src="./assets/imgs/correo1.png" style="width:100%;height:100%;"></ion-card>


          <form [formGroup]="formulario" (ngSubmit)="guardar()">
            <span  style="color:red;" *ngIf="formulario.controls['cuentas'].hasError('max')">La Cantidad de cuentas debe ser menor a 500</span>
          <ion-list>
            <ion-item>
              <ion-icon name="ios-mail-outline" item-start></ion-icon>
              <ion-label stacked>Cuentas:</ion-label>
              <ion-input formControlName="cuentas" type="number" placeholder="Cuentas" [(ngModel)]="cuentas" (ngModelChange)="onChangeInput($event)"></ion-input>
            </ion-item>
            <ion-item>
              <ion-icon name="calendar" item-start></ion-icon>
              <ion-label stacked>Duración:</ion-label>
              <ion-select  formControlName="duracion"  placeholder="Duración" (ionChange)="onChangeOpction1($event)">
                <ion-option *ngFor="let mes of meses" [value]="mes.id">{{mes.mes}} mes(-es) <ion-badge *ngIf="mes.mes != 12">{{item.planes[0].valor | currency}}</ion-badge> <ion-badge *ngIf="mes.mes == 12">{{item.planes[0].duracion[0].descuento | currency}}</ion-badge> </ion-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-icon name="git-network" item-start></ion-icon>
              <ion-label stacked>Resultado:</ion-label>
              <ion-input formControlName="total" type="text" value="{{total | currency}}" disabled="true" ></ion-input>
            </ion-item>
          </ion-list>

          <div padding>
            <button ion-button round full type="submit" [disabled]="!formulario.valid">Cotizar</button>
          </div>
          </form>


          <ion-fab right >
            <button ion-fab mini color="s-dark"><ion-icon name="arrow-up"></ion-icon></button>
            <ion-fab-list side="top">
              <button ion-fab><ion-icon name="ios-help" (click)="preguntas(item)"></ion-icon></button>
            </ion-fab-list>
          </ion-fab>
        </div>

        <div *ngSwitchCase="2">

          <div class="content" style="background:#14cba8;">
            <ion-card color="detalle1">
              <h1 style="text-align:center;">
                 {{item.nombre}}
              </h1>
            </ion-card>
          </div>
          <ion-card><img src="./assets/imgs/correo2.png" style="width:100%;height:100%;"></ion-card>


          <form [formGroup]="formulario" (ngSubmit)="guardar()">
            <span style="color:red;" *ngIf="formulario.controls['cuentas'].hasError('max')">La Cantidad de cuentas debe ser menor a 500</span>
          <ion-list>
            <ion-item>
              <ion-icon name="ios-mail-outline" item-start></ion-icon>
              <ion-label stacked>Cuentas:  </ion-label>
              <ion-input formControlName="cuentas" type="number" placeholder="Cuentas" [(ngModel)]="cuentas" (ngModelChange)="onChangeInput($event)"></ion-input>

            </ion-item>
            <ion-item>
              <ion-icon name="calendar" item-start></ion-icon>
              <ion-label stacked>Duración:</ion-label>
              <ion-select  formControlName="duracion"  placeholder="Duración" (ionChange)="onChangeOpction($event)">
                <ion-option *ngFor="let mes of meses"  [value]="mes.id" > {{mes.mes}} mes(-es) <ion-badge>{{valor | currency}}</ion-badge>  </ion-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-icon name="git-network" item-start></ion-icon>
              <ion-label stacked>Resultado:</ion-label>
              <ion-input formControlName="total" type="text" value="{{total | currency}}" disabled="true"></ion-input>
            </ion-item>
          </ion-list>

          <div padding>
            <button ion-button round type="submit" full [disabled]="!formulario.valid">Cotizar</button>
          </div>
          </form>

          <ion-fab right >
            <button ion-fab mini color="s-dark"><ion-icon name="arrow-up"></ion-icon></button>
            <ion-fab-list side="top">
              <button ion-fab><ion-icon name="ios-help" (click)="preguntas(item)"></ion-icon></button>
            </ion-fab-list>
          </ion-fab>

        </div>

        <div *ngSwitchCase="3">
          <div class="content" style="background:#14cba8;">
            <ion-card color="detalle1">
              <h1 style="text-align:center;">
                 {{item.nombre}}
              </h1>
            </ion-card>
          </div>
          <ion-card><img src="./assets/imgs/correo3.png" style="width:100%;height:100%;"></ion-card>


          <form [formGroup]="formulario" (ngSubmit)="guardar()">
            <span style="color:red;" *ngIf="formulario.controls['cuentas'].hasError('max')">La Cantidad de cuentas debe ser menor a 500</span>
          <ion-list>
            <ion-item>
              <ion-icon name="ios-mail-outline" item-start></ion-icon>
              <ion-label stacked>Cuentas:</ion-label>
              <ion-input formControlName="cuentas" type="number" placeholder="Cuentas" [(ngModel)]="cuentas" (ngModelChange)="onChangeInput($event)"></ion-input>
            </ion-item>
            <ion-item>
              <ion-icon name="calendar" item-start></ion-icon>
              <ion-label stacked>Duración:</ion-label>
              <ion-select  formControlName="duracion"  placeholder="Duración" (ionChange)="onChangeOpction($event)">
                <ion-option *ngFor="let mes of meses"  [value]="mes.id" > {{mes.mes}} mes(-es) <ion-badge>{{valor | currency}}</ion-badge>  </ion-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-icon name="git-network" item-start></ion-icon>
              <ion-label stacked>Resultado:</ion-label>
              <ion-input formControlName="total" type="text" value="{{total | currency}}" disabled="true"></ion-input>
            </ion-item>
          </ion-list>

          <div padding>
            <button ion-button round full type="submit" [disabled]="!formulario.valid" >Cotizar</button>
          </div>

          </form>

          <ion-fab right >
            <button ion-fab mini color="s-dark"><ion-icon name="arrow-up"></ion-icon></button>
            <ion-fab-list side="top">
              <button ion-fab><ion-icon name="ios-help" (click)="preguntas(item)"></ion-icon></button>
            </ion-fab-list>
          </ion-fab>

        </div>

    </div>
  </ion-content>
