<!--
  Generated template for the SitioWebPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

  <ion-navbar color="p-gray">
    <button start ion-button menuToggle="leftMenu">
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>


<ion-content >
  <ion-fab top right edge>
    <button ion-fab mini color="s-dark" (click)="Inicio()"><ion-icon name="home" ></ion-icon></button>
  </ion-fab>

  <ion-segment [(ngModel)]="herramientaWeb" color="p-dark" (ionChange)="onSegmentChange($event._value)" >

      <ion-segment-button text-wrap  value="0" >
        Weebly
      </ion-segment-button>
      <ion-segment-button text-wrap  value="1" >
        Impress.Ly
      </ion-segment-button>
      <ion-segment-button text-wrap  value="2" >
        Sitios Web
      </ion-segment-button>

  </ion-segment>



<div [ngSwitch]="herramientaWeb">

      <div *ngSwitchCase="0">

        <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1" style="width:100%;height:200px;">
          <ion-slide >
            <img [src]="herramienta.imagen" class="slide-image"/>
          </ion-slide>
        </ion-slides>

        <ion-list color="p-light">
          <ion-list-header color="primary" text-wrap>
            <h2><b>{{herramienta.nombre}}</b></h2>
            <p>{{herramienta.descripcion}} </p>
          </ion-list-header>
        </ion-list>


        <div cards>
          <div class="grid-full">
            <ion-row>
              <ion-col *ngFor="let plan of herramienta.planes">
                <ion-card >
                  <ion-card-header style="background-color: #212121;">
                    <h1 text-center style="color:#FFFFFF;"> {{plan.nombre}}</h1>
                  </ion-card-header>
                  <ion-card-content style="background-color: #000000;">

                    <ion-fab  left style="left:1px; top:50px;" >
                      <button ion-fab mini color="p-complementary" (click)="detalleAbajo(plan.id)"><ion-icon id="icon_{{plan.id}}" name="md-arrow-round-down"></ion-icon></button>
                    </ion-fab>
                    <!-- <ion-fab  edge>
                      <button ion-fab>
                        <ion-icon name="pin"></ion-icon>
                      </button>
                    </ion-fab> -->
                    <ion-item id="{{plan.id}}" style="background-color:#181818; display:none;">
                      <p *ngFor="let descript of plan.descripcion; index as key$" style="color:white;">&#8226; {{plan.descripcion[key$].detalle }}</p>
                   </ion-item>
                    <p style="font-size:50px; color:#64FFDA;" text-center> {{plan.valor  | currency}} <label style="font-size:15px;"> / año</label> </p>
                            <div class="item item-body">
                             <div class="show-list-numbers-and-dots">
                               <p style="margin-top:0px;color:#000000;">
                               </p>
                             </div>
                           </div>
                       <button ion-button block color="primary" (click)="cotizar(herramienta, plan.id)">Cotizar</button>
                  </ion-card-content>
                </ion-card>
              </ion-col>
            </ion-row>
          </div>
        </div>


      </div>

      <div *ngSwitchCase="1">

        <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1" style="width:100%;height:200px;">
          <ion-slide >
            <img [src]="herramienta.imagen" class="slide-image"/>
          </ion-slide>
        </ion-slides>

        <ion-list color="p-light">
          <ion-list-header color="primary" text-wrap>
            <h2><b>{{herramienta.nombre}}</b></h2>
            <p>{{herramienta.descripcion}} </p>
          </ion-list-header>
        </ion-list>

        <div cards>
          <div class="grid-full">
            <ion-row>
              <ion-col *ngFor="let plan of herramienta.planes">
                <ion-card >
                  <ion-card-header style="background-color: #212121;">
                    <h1 text-center style="color:#FFFFFF;"> {{plan.nombre}}</h1>
                  </ion-card-header>
                  <ion-card-content style="background-color: #000000;">

                    <ion-fab left style="left:1px; top:50px;" > <!-- -->
                      <button ion-fab mini color="p-complementary" (click)="detalleAbajo(plan.id)"><ion-icon name="md-arrow-round-down"></ion-icon></button>
                    </ion-fab>
                    <!-- <ion-fab  edge>
                      <button ion-fab>
                        <ion-icon name="pin"></ion-icon>
                      </button>
                    </ion-fab> -->
                    <ion-item id="{{plan.id}}" style="background-color:#181818; display:none;">
                      <p *ngFor="let descript of plan.descripcion; index as key$" style="color:white;">&#8226; {{plan.descripcion[key$].detalle }}</p>
                   </ion-item>
                    <p style="font-size:50px; color:#64FFDA;" text-center> {{plan.valor *12 | currency}} <label style="font-size:15px;"> / año</label> </p>
                            <div class="item item-body">
                             <div class="show-list-numbers-and-dots">
                               <p style="margin-top:0px;color:#000000;">
                               </p>
                             </div>
                           </div>
                       <button ion-button block color="primary" (click)="cotizar(herramienta, plan.id)">Cotizar ahora</button>
                  </ion-card-content>
                </ion-card>
              </ion-col>
            </ion-row>
          </div>
        </div>




      </div>

      <div *ngSwitchCase="2">

        <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1" style="width:100%;height:200px;">
          <ion-slide >
            <img [src]="herramienta.imagen" class="slide-image"/>
          </ion-slide>
        </ion-slides>

        <ion-list color="p-light">
          <ion-list-header color="primary" text-wrap>
            <h2><b>{{herramienta.nombre}}</b></h2>
            <p>{{herramienta.descripcion}} </p>
          </ion-list-header>
        </ion-list>


        <div cards>
          <div class="grid-full">
            <ion-row>
              <ion-col *ngFor="let plan of herramienta.planes">
                <ion-card >
                  <ion-card-header style="background-color: #212121;">
                    <h1 text-center style="color:#FFFFFF;"> {{plan.nombre}}</h1>
                  </ion-card-header>
                  <ion-card-content style="background-color: #000000;">

                    <ion-fab left style="left:1px; top:50px;" > <!-- -->
                      <button ion-fab mini color="p-complementary" (click)="detalleAbajo(plan.id)"><ion-icon name="md-arrow-round-down"></ion-icon></button>
                    </ion-fab>
                    <!-- <ion-fab  edge>
                      <button ion-fab>
                        <ion-icon name="pin"></ion-icon>
                      </button>
                    </ion-fab> -->
                    <ion-item id="{{plan.id}}" style="background-color:#181818; display:none;" >
                      <p *ngFor="let descript of plan.descripcion; index as key$" style="color:white;">&#8226; {{plan.descripcion[key$].detalle }}</p>
                   </ion-item>
                    <p style="font-size:50px; color:#64FFDA;" text-center> {{plan.valor*12 | currency}} <label style="font-size:15px;"> / año</label> </p>
                            <div class="item item-body">
                             <div class="show-list-numbers-and-dots">
                               <p style="margin-top:0px;color:#000000;">
                               </p>
                             </div>
                           </div>
                       <button ion-button block color="primary" (click)="cotizar(herramienta, plan.id)">Cotizar ahora</button>
                  </ion-card-content>
                </ion-card>
              </ion-col>
            </ion-row>
          </div>
        </div>



      </div>




</div>










</ion-content>
