<!--
  Generated template for the FetchDominiosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="p-gray">
    <button start ion-button menuToggle="leftMenu">
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>


<ion-content id="page1">
  <ion-fab top right edge>
    <button ion-fab mini color="s-complementary" (click)="Inicio()">
      <ion-icon name="home"></ion-icon>
    </button>
  </ion-fab>


  <ion-list radio-group [(ngModel)]="tipoDominio" (ionChange)="cambioRadio($event)">

    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1"
                style="width:100%;height:200px;">
      <ion-slide *ngFor="let _imagen of _listaimagenes">
        <img [src]="_imagen" class="slide-image"/>
      </ion-slide>
    </ion-slides>

    <ion-list color="p-light">
      <ion-list-header color="primary" text-wrap>
        <h2><b>{{nombre}}</b></h2>
        <p text-justify text-wrap>Es la etiqueta o nombre definido por las empresas o personas naturales para identificar o localizar un sitio web a través del internet. </p>
      </ion-list-header>
    </ion-list>
    <ion-item>
      <ion-label>Registro</ion-label>
      <ion-radio value="Nuevo Registro"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Transferencia</ion-label>
      <ion-radio value="Transferencias"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Renovaciones</ion-label>
      <ion-radio value="Renovaciones"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Restauraciones</ion-label>
      <ion-radio value="Restauraciones"></ion-radio>
    </ion-item>
  </ion-list>

  <div *ngIf="tipoDominio=='Nuevo Registro'">
    <button ion-button full icon-end (click)="whois()">Verificar Disponibilidad <ion-icon name="star"></ion-icon></button>
  </div>

<!--
<form id="inicio-form1" >
    <ion-searchbar placeholder="Buscar..." name="" id="inicio-search1" [(ngModel)]="buscador"
                   [ngModelOptions]="{standalone: true}"></ion-searchbar>
  </form>
-->

  <ion-list id="inicio-list2" *ngFor="let dominio of lista2 | myfilter: buscador">
    <ion-item color="none" id="inicio-list-item7" (click)="detalleDominio(dominio)">
      {{dominio.descripcion}}
      <ion-note item-right></ion-note>
      <ion-icon name="arrow-forward" item-right></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
