<!--
  Generated template for the FetchDominiosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="p-gray">
    <button start ion-button menuToggle="leftMenu">
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>


<ion-content id="page1">
  <ion-fab top right edge>
    <button ion-fab mini color="s-complementary" (click)="Inicio()">
      <ion-icon name="home"></ion-icon>
    </button>
  </ion-fab>


  <ion-list radio-group [(ngModel)]="tipoDominio" (ionChange)="cambioRadio($event)">

    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1"
                style="width:100%;height:200px;">
      <ion-slide *ngFor="let _imagen of _listaimagenes">
        <img [src]="_imagen" class="slide-image"/>
      </ion-slide>
    </ion-slides>

    <ion-list color="p-light">
      <ion-list-header color="primary" text-wrap>
        <h2><b>{{nombre}}</b></h2>
        <p text-justify text-wrap>Es la etiqueta o nombre definido por las empresas o personas naturales para identificar o localizar un sitio web a través del internet. </p>
      </ion-list-header>
    </ion-list>
    <ion-item>
      <ion-label>Registro</ion-label>
      <ion-radio value="Nuevo Registro"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Transferencia</ion-label>
      <ion-radio value="Transferencias"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Renovaciones</ion-label>
      <ion-radio value="Renovaciones"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Restauraciones</ion-label>
      <ion-radio value="Restauraciones"></ion-radio>
    </ion-item>
  </ion-list>

  <div *ngIf="tipoDominio=='Nuevo Registro'">
    <button ion-button full icon-end (click)="whois()" text-wrap>Presiona aquí para verificar disponibilidad <ion-icon name="arrow-forward"></ion-icon></button>
  </div>

  <div *ngIf="tipoDominio=='Transferencias'">
    <ion-list color="p-light">
      <ion-list-header color="primary" text-wrap>
        <h2><b>IMPORTANTE</b></h2>
        <p text-justify text-wrap>Si desea transferir su dominio a otro Comercializador el titular del dominio deberá enviar una carta firmada y sellada en papel membretado  solicitando la transferencia del dominio al correo servicios@bit.hn. </p>
      </ion-list-header>
    </ion-list>
  </div>

  <div *ngIf="tipoDominio=='Renovaciones'">
    <ion-list color="p-light">
      <ion-list-header color="primary" text-wrap>
        <h2><b>IMPORTANTE</b></h2>
        <p text-justify text-wrap>Se debe especificar el dominio que se requiere renovar al momento de cotizar. </p>
      </ion-list-header>
    </ion-list>
  </div>

  <div *ngIf="tipoDominio=='Restauraciones'">
    <ion-list color="p-light">
      <ion-list-header color="primary" text-wrap>
        <h2><b>IMPORTANTE</b></h2>
        <p text-justify text-wrap>Expirado la vigencia del registro de nombre de dominio, el sistema automáticamente opera la acción de suspensión, plazo este que tiene una duración de cuatro (4) días contados a partir de la fecha de expiración; su reactivación solo procede previo el pago del valor del dominio. De no activarse la reactivación del dominio, al quinto día el sistema automáticamente pasa el dominio al estado de pending delete, proceso que puede ser restaurado previo pago del dominio más un cargo del 20% tasado sobre el valor del dominio por la restauración del mismo. De no restaurarse el dominio en los términos precitado el sistema automáticamente libera el dominio y este puede ser adquirido por un tercero, con el riesgo que su titular no pueda recuperarlo a razón del principio primero en llegar primero en ser servido. </p>
      </ion-list-header>
    </ion-list>
  </div>

<!--
<form id="inicio-form1" >
    <ion-searchbar placeholder="Buscar..." name="" id="inicio-search1" [(ngModel)]="buscador"
                   [ngModelOptions]="{standalone: true}"></ion-searchbar>
  </form>
-->

  <ion-list id="inicio-list2" *ngFor="let dominio of lista2 | myfilter: buscador">
    <ion-item color="none" id="inicio-list-item7" (click)="detalleDominio(dominio)">
      {{dominio.descripcion}}
      <ion-note item-right></ion-note>
      <ion-icon name="arrow-forward" item-right></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
