<!--
  Generated template for the ModalInfoDetallePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="secondary">
    <ion-title></ion-title>
  </ion-navbar>

  </ion-header>


<ion-content padding>
  <ion-fab top left edge>
    <button ion-fab mini color="p-complementary" (click)="cerrar()"><ion-icon name="ios-close" ></ion-icon></button>
  </ion-fab>

  <ion-segment [(ngModel)]="tipoInfo" color="p-dark" (ionChange)="onSegmentChange($event._value)">
    <ion-segment-button value="1" *ngIf="item.caracteristicas.length != 0">
      Características
    </ion-segment-button>
    <ion-segment-button value="2" *ngIf="item.detalles.length != 0">
      Propiedades
    </ion-segment-button>
  </ion-segment>


  <div [ngSwitch]="tipoInfo">
    <div *ngSwitchCase="1">
      <ion-item>
        <h1>Características</h1>
      </ion-item>
       <ion-list no-lines *ngFor="let caracteristica of item.caracteristicas">
        <ion-item text-wrap>
          <h2>{{caracteristica.caracteristica}}</h2>
          <p>{{caracteristica.descripcion}}</p>
        </ion-item>
      </ion-list>
    </div>

    <div *ngSwitchCase="2">
      <ion-item>
        <h1>Detalles</h1>
      </ion-item>
       <ion-list no-lines *ngFor="let detallee of item.detalles">
        <ion-item text-wrap>
          <h2>{{detallee.detalle}}</h2>
          <div *ngFor="let propiedadd of detallee.propiedades">
            <p>&#8226; {{propiedadd.propiedad}}</p>
          </div>

        </ion-item>
      </ion-list>
    </div>

  </div>


</ion-content>
